* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}

body {
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    height: 56px;
    margin: 0;
    padding: 0;
}

.site-navigation {
	display: flex;
	position: relative;
	height: 54px;
	align-items: center;
	/*justify-content: space-between;*/
	list-style: none;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	line-height: 28px;

	background-color: #ffffff;
  /*padding: 0 ;*/
}

.site-navigation li {
    width: 20%;
    text-align: center;
    position: relative;
    z-index: 2;

  /*border: 1px solid #979797;*/
}

.site-navigation a {
    color: black;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
  color: #766357;
}

.main-logo img {
  width: 138px;
  height: 70px;
  position: absolute;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
}

a {
	text-decoration: none;
}

.sedona-background {
    background: url('../img/background-photo.jpg') no-repeat;
    width: 100%;
    height: 512px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title-background {
    background: url('../img/text-sedona.png') no-repeat;
    width: 458px;
    height: 352px;
}

.layer {
   background: url('../img/layer.png') no-repeat; 
   background-size: cover; 
   width: 100%;
   height: 4.8vw;
   position: absolute;
   bottom: 0
}

.main-sedona {
    height: 216px;
    background-color: #ffffff;
}

.title-constainer {
    width: 520px;
    margin: 0 auto;
}

.title-sedona {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding-top: 60px;
}

.text-sedona {
    padding-top: 33px;
}

.text, .text-sedona, .title, .title-sedona, .number {
    text-align: center;
}

.real-town {
    width: 33%;
    background-color: #81b3d2;
    color: #fff;
}

.real-town-picture {
	background-image: url("../img/real-town.jpg");
	width: 67%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
}

.real-town .title {
    padding-top: 26px;
    padding-left: 110px;
    padding-right: 110px;
    font-size: 21px;
}

.real-town .number {
    padding-top: 5px;
}

.real-town .text {
    padding: 5px 59px 45px;
}

.plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.plus {
    list-style: none;
}

.block {
    width: 33.33%;
    background-color: #ffffff;
    padding: 60px 0;
}

.icon {
    width: 75px;
    height: 78px;
    margin: 0 auto;
}

.block:nth-child(1) .icon {
	background-image: url("../img/svg/icon-1.svg");
	background-repeat: no-repeat;
	background-position: top;
}

.block:nth-child(2) .icon {
	background-image: url("../img/svg/icon-3.svg");
	background-repeat: no-repeat;
	background-position: top;
}

.block:nth-child(3) .icon {
	background-image: url("../img/svg/icon-2.svg");
	background-repeat: no-repeat;
	background-position: top;
}

.block .text {
    padding: 33px 0 0;
    font-size: 14px;
    width: 220px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.block .title {
	font-size: 21px;
    padding-top: 33px;
}

.block-blue {
	display: flex;
	width: 100%;
    height: 256px;
}

.block-blue .real-town {
    height: 100%
}

.two .real-town {
    order: 1;
}

.two .real-town-picture {
    background-image: url('../img/devil-bridge.jpg');
}

.block-blue .title {
    padding-top: 43px;
    font-size: 21px;
}

.block-blue .number {
    padding: 16px 0;
}

.block-blue .text {
    padding: 5px 48px 46px;
    font-size: 14px;
}

.container-gray {
    display: flex;
}

.block-gray {
	display: block;
    width: 33.33%;
    background-color: #eeeeee;
    padding: 43px 0;
}

.block-gray .title {
    padding-left: 110px;
    padding-right: 110px;
    font-size: 21px;
}

.block-gray .number {
    padding: 20px 0;
}

.block-gray .text {
    font-size: 14px;
}

.interesting {
    width: 100%;
    height: 291px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    font-size: 14px;
}

.interesting .title {
	text-align: center;
	font-size: 30px;
    padding-top: 55px;
}

.interesting .text {
	padding-top: 42px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
}

.button {
    display: inline-block;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    vertical-align: top;
}

.find-hotel-button {
    width: 568px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.find-button {
  background-color: #766357;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.find-button:hover {
  background-color: #604e43;
}

.find-button:active {
  color: rgba(255, 255, 255, .3);
  background-color: #503e33;
}

.form {
  width: 568px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 55px;
  left: calc(50% - 284px);
  background-color: #ffffff;
  /*-webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);*/
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
  /*-webkit-animation: bounce .4s;*/
  animation: bounce-form .4s
}

/*.form-container {
  position: relative;
  width: 458px;
}*/

.formline, .formline-adult-child, .formline-input {
  /*  display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    /*-ms-flex-wrap: no-wrap;*/
    /*flex-wrap: no-wrap;*/
    padding: 0;
}

.formline {
/*    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;*/
    align-items: center;
    margin-bottom: 29px;
    width: 458px;
    height: 38px;
    position: relative;
}

.formline-adult-child {
/*    -webkit-box-align: center;
    -ms-flex-align: center;*/
    align-items: center;
	margin-bottom: 29px;
    width: 458px;
    height: 38px;
    margin-top: 30px;
}

.adult label, .formline label {
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 112px;
    height: 38px;
/*    -ms-flex-negative: 0;
    flex-shrink: 0;*/
}

.formline-input {
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    /*justify-content: space-between;*/
    margin-right: 0;
    font-weight: bold;
}

label {
    font-weight: bold;
}

.formline-input input {
    font: inherit;
    margin-right: 0;
    width: 346px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    padding: 0 13px;
    outline: 0;
}

.formline-input input:hover {
    background-color: #ebebeb;
}

.formline-input input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

input::-webkit-input-placeholder {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
}

.formline-adult-child {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.formline-adult-child input {
    font: inherit;
    padding-left: 0;
    width: 38px;
    height: 38px;
    text-align: center;
}

.child label {
    margin-left: 0;
    padding-left: 54px;
}

.child {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.calendar {
	background-image: url("../img/svg/calendar.svg");
	background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 23px;
    right: 9px;
    top: 7px;
    bottom: 8px;
    border: 0;
    background-color: #f2f2f2;
    outline: 0;
}

.minus, .plusik {
    margin: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: 0;
    color: #a9a9a9;
    outline: 0;
}

.plusik {
    font-size: 22px;
}

.minus {
    font-size: 32px;
    padding-top: 0;
}

.minus:hover, .plusik:hover {
    color: #000;
}

.minus:focus, .plusik:focus {
    color: #81b3d2;
}

.find {
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    width: 458px;
    display: block;
    margin-top: 54px;
    text-align: center;
    padding: 17px 195px 15px;
    background-color: #81b3d2;
}

.find:hover {
    background-color: #669ec0;
}


/*зачем два цвета?*/
.find:active {
    color: rgba(255, 255, 255, .3);
    background-color: #5496bd;
}

.map {
    width: 100%;
    height: 473px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-form {
  33% {
    transform: translateY(-20px);
  }

  33% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}


.modal {
  position: fixed;

  display: none;

  color: #000000;

}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}


.modal-map {
  top: 50%;
  left: 50%;

  width: 766px;
  height: 460px;
  margin-top: -280px;
  margin-left: -390px;

  border: 7px solid white;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -30px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.container {
  width: 100%;
  /*margin: 0 auto;*/
  /*padding: 0 auto;*/
  /*background-color: red;*/
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  background: url(../img/filter-background.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  color: white;
}

.filters legend {  
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 30px;
}

.infrastructure-type {
  display: flex;
}

.infrastructure-type fieldset {
  margin-right: 15%;
  width: 180px;
  border: none;
}

.infrastructure-type ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

.filter-option {
  margin-bottom: 30px;
  padding-left: 40px;
  /*display: none;*/
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
  font-weight: normal;
}
.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  z-index: 0;
  left: -50px;
  top: 0;

  width: 25px;
  height: 25px;

  background: url("../img/svg/checkbox-off.png") no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  z-index: 1;
  top: 0;
  left: -50px;

  width: 25px;
  height: 25px;
  background: url("../img/svg/checkbox-on.png") no-repeat;
}

.filter-range {
  width: 330px;
  /*background-color: green;*/
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  text-align: end;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort {
  display: flex;
  align-items: center;
  padding: 25px 80px;
  background-color: white;
  border-color: 1px solid #979797;
}

.sort-1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  padding: 0 10px;

  width: 250px;
}

.sort-2 {
  display: flex;
}

.sort-2 h2 {
  width: 150px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-2 ul {
  display: flex;
  width: 300px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;

  list-style: none;
}

.sort-2 a {
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81B3D2;
}

.sort-2 a:hover {
  color: #81B3D2;
}

.sort-2 a:active {
  color: 
}

.sort-3 {
  display: flex;
  width: 75px;
}

.sort-3 a {
  color: #000000;
  opacity: 0.3;
}

.sort-3 a:hover {
  color: #000000;
}

.results-hotels {
  background-color: #fefefe;
  border: 1px solid #e5e5e5;
}

.hotels {
  display: flex;
  flex-direction: column;
}

.hotels-1,
.hotels-2,
.hotels-3 {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 90px;

  /*background-color: red;*/
}

.img {
  display: flex;
  width: 135px;
  margin-right: 35px;

  /*background-color: red;*/
}

.img img {
  width: 135px;
  height: 90px;
}

.info {
  display: flex;
  flex-direction: column;

  /*background-color: yellow;*/
}

.line-1 {
  display: flex;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 5px;
}

.stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  /*background-color: green;*/
}

.stars img {
  width: 19px;
  height: 17px;
  margin-left: 5px;
}

.line-2 {
  display: flex;
  white-space: pre;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 8px;

  /*background-color: green;*/
}

.line-3 {
  display: flex;
  justify-content: space-between;

  /*background-color: yellow;*/
}

.line-3 .left {
  display: flex;
}

.columns {
  display: flex;
}

.columns .left-1 {
  display: flex;
}

.columns .button-rating {
  display: block;
  align-self: flex-end;
}

.left-11 {
  width: 130px;
}

.left-1 p {
  padding-bottom: 5px;
}

.button-more-info {
    display: block;

    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    background-color: #81b3d2;

    width: 110px;
    height: 27px;
    padding: 4px 16px;
    margin-right: 10px;
}

.button-reservation {
    display: block;

    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    background-color: #766357;

    width: 142px;
    height: 27px;
    padding: 4px 16px;
    /*margin-right: 716px;*/
}
.button-rating {
    display: block;
    /*box-sizing: border-box;*/
    /*flex-grow: 0;*/
    /*align-self: flex-end;*/
    /*justify-content: flex-end;*/

    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    color: #666666;
    text-transform: uppercase;
    border: 0;
    background-color: #f2f2f2;

    width: 115px;
    height: 27px;
    padding: 4px 10px;
}

.page-footer {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    height: 120px;
}

.page-footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    vertical-align: center;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    height: 120px;
    padding: 0 6%;
    opacity: 0.9;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-social {
    text-align: center;

}

.footer-social ul, .social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*list-style: none;*/
}

.footer-social ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-social ul li {
  width: auto;
  margin-right: 5px;
}

.footer-social ul li:last-child {
    margin-right: 0;
}

.social-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:focus {
    background-color: #5496bd;
}

.social-button:focus path {
    fill: #88b6d1;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-copyright p, .footer-copyright a {
    padding-right: 9px;
    width: auto;
}

.website {
    font-size: 14px;
    line-height: 26px;
}

.logo {
    padding-top: 5px
}
.hotel-search-icon {
    text-align: center;
}

.logo .text {
    margin-right: 8px
}

.logo img {
    width: 115px;
    height: 41px;
}

.logo img:hover {
    fill: #81b3d2;
}

.logo img:focus {
    fill: #bdbbbc;
}

.none {
    display: none;
}


.sort-2 .active-link {
  color: #3ababa;
}

/*Раздел "Стоимость в сутки"*/
/*body {*/
  /*font-weight: 400;*/
  /*font-family: "PT Sans", Arial, sans-serif;*/

  /*background: #2a3e45; /* для демо */*/
}